$White: hsl(0, 0%, 100%);
$Light-pink: hsl(275, 100%, 97%);
$Grayish-purple: hsl(292, 16%, 49%);
$Dark-purple: hsl(292, 42%, 14%);

@font-face {
    font-family: work-sans;
    src: url(./assets/fonts/WorkSans-VariableFont_wght.ttf);
}

// - Weights: 400, 600, 700
body {
    background-image: url(./assets/images/background-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    // background-attachment: fixed;
    background-color: $Light-pink;
    font-family: work-sans;
    margin: 0;

    .container {
        width: 600px;
        margin: 320px auto 25px;
        background-color: $White;
        border-radius: 20px;

        .svg-start {
            padding-right: 15px;
        }

        .tittle {
            font-weight: 700;
        }

        .tittle,
        .answer {
            display: flex;
            align-items: center;
            padding: 0 25px;
        }

        .box {
            cursor: pointer;

            .question {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 25px;

                p {
                    font-weight: 700;
                    color: $Dark-purple;
                }

                p:hover {
                    color: purple;
                }

                .svg-minus {
                    display: none;
                }
            }

            .answer {
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.5s ease;

                p {
                    color: $Grayish-purple;
                }
            }

            hr {
                height: 1px;
                background-color: $Light-pink;
                border: none;
                width: 90%;
            }
        }

        .box.active .answer {
            max-height: 130px;
        }

        .box.active .question .svg-plus {
            display: none;
        }

        .box.active .question .svg-minus {
            display: block;
        }
    }

    .attribution {
        font-size: 12px;
        text-align: center;

        a {
            color: hsl(228, 45%, 44%);
        }
    }
}

@media screen and (max-width: 600px) {

    body {
        background-image: none;
        background-image: url(./assets/images/background-pattern-mobile.svg);
        background-repeat: no-repeat;

        .container {
            max-width: 350px;
            margin: 100px auto 25px;

            .box .question p {
                width: 320px;
            }
        }
    }
}